
 
.testimonial{
    text-align: center;
}
.testimonial .pic{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto 40px;
    border: 4px solid #eb7260;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    color: #8a9aad;
    font-size: 15px;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 20px;
}
.testimonial .testimonial-prof{
    margin:20px 0;
}
.testimonial .title{
    font-size: 20px;
    color: #eb7260;
    margin-right: 20px;
    text-transform: capitalize;
}
.testimonial .title:after{
    content: "";
    margin-left: 30px;
    border-right: 1px solid #808080;
}
.testimonial .testimonial-prof small{
    display: inline-block;
    color: #8a9aad;
    font-size: 17px;
    text-transform: capitalize;
}
.owl-theme .owl-controls .owl-buttons div{
    background: transparent;
    opacity: 1;
}
.owl-buttons{
    position: absolute;
    top: 8%;
    width: 100%;
}
.owl-prev{
    position: absolute;
    left:30%;
}
.owl-next{
    position: absolute;
    right:30%;
}
.owl-prev:after,
.owl-next:after{
    content: "\f060";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    width: 28px;
    height: 28px;
    font-size: 16px;
    color:#808080;
    transition: all 0.15s ease 0s;
}
.owl-next:after{
    content: "\f061";
}
@media only screen and (max-width: 479px){
    .owl-prev{
        left: 10%;
    }
    .owl-next{
        right: 10%;
    }
}