html { 
  overflow-x: hidden !important; 
 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Playfair Display';

}

.custom-nav {
  background-color: transparent;
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}
.nav-link{
  color: #ffffff;
}
.hero-container{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-image.png);
}
.hero-image img{
  position: relative;
  left: 848px !important;
  top: 100px !important;
  
}
.hero-title, .hero-title{
  font-family: 'Rubik', sans-serif !important;
}
.hero-name{
  font-family: 'Playfair Display', serif !important;
}
.hero-content a{
  font-family: 'Rubik', sans-serif !important;
}
p{
  font-family: 'Rubik', sans-serif;
}
.hero-content{
position: relative;
left: 148px !important;
bottom: 120px;
color: #ffffff;
}
.btn-outline{
  border: 2px solid #ffca47 !important;
  color: #ffca47 !important;
}
.about{
  background-color: #000000;
  height: 1800px;
}
#about img{
  position: relative;
  left: 237px;
  top: 172px;
  height: 376px !important;
  border-left: 2px solid#ffca47;
  border-bottom: 2px solid #ffca47;
}
.about-content{
  position: relative;
  left: 250px;
  top: 224px;
  color: #ffffff;
}
.about-title{
  color: #ffca47;
  font-size: 36px;
  line-height: 48px;
  font-family: 'Playfair Display', serif !important;
}
#about .container{
  position: relative;
  left: -130px !important;
  top: -100px;
}
.services-text{
  padding-left: 650px;
  width: 256px !important;
  padding-top: 250px !important;
  font-family: 'Playfair Display', serif !important;
}
.services-btn .btn-outline{
  position:relative;
  margin-top:25%;
  left: 650px !important;
}
.services-boxes {
  background: #100f0f !important;
  margin-top: 10px !important;
  color: #ffffff;
  width: 376px;
  height: 262px;
  margin-left: 35% !important;
}
.services-boxes:hover .services-title-border {
  width: 60px;
}
.experience-container{
    height: 1800px !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/experience-image.png);
}

#experience p{
  position: relative;
  color: #ffffff;
  width: 462px;
  height: 204px;
  font-size: 21px;
  line-height: 159.6%;
  top: 10px !important;
}
#experience h5{
  color: #ffffff;
  font-family: 'Playfair Display', serif;
}
#experience h6{
  color: #ffffff;
  width: 293px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  left: 300px;
  font-family: 'Rubik', 'serif';
}
#experience h2{
  position: relative;
left: 70px;
color: #ffca47;
top: -30px;
 font-family: 'Playfair Display', serif
}
.grid-wrapper {
  max-width: 850px;
  display: grid;
  gap: 20px;
  grid-auto-rows: auto;
}
.experience_jtspice {
  grid-column: 5 / 6;
  grid-row: 1 / 4;
}
.experience_kfc {
  grid-column: 1 / 2;
  grid-row: 4 / 7;
}
.experience_chillspot {
  grid-column: 5 / 6;
  grid-row: 7 / 10;
}
.experience_dallas {
  grid-column: 1 / 2;
  grid-row: 10 / 13;
}
.vertical-line {
  border: 0.25px solid #ffffff;
  grid-column: 3 / 4;
  grid-row: 1 / 10;
}
.position-relative {
  position: relative!important;
}
.ellipse-active {
  position: absolute;
  top: 27px !important;
  left: -27px;
}
.ellipse1 {
  position: absolute;
  top: 35%;
  left: -27px;
}
.ellipse2 {
  position: absolute;
  top: 70%;
  left: -27px;
}
.ellipse3 {
  position: absolute;
  top: 100%;
  left: -27px;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
#work h3{
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 48px;
}



.filter-btn{
  color: #ffffff !important;
}
.project-card1{
  position: relative;
  background:url(../img/Rectangle-8.png) ;
  width: 278px;
  height: 740px !important;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card2{
  position: relative;
  background:url(../img/Rectangle-9.png) ;
  width: 278px;
  height: 242px !important;
  background-repeat: no-repeat;
  background-size: cover;
  left: 10px;
}
.project-card3{
  position: relative;
  background:url(../img/Rectangle-14.png) ;
  width: 278px;
  height: 490px !important;
  background-repeat: no-repeat !important;
  top: 250px;
  left: -268px;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card4{
  position: relative;
  background:url(../img/Rectangle-10.png) ;
  width: 278px;
  height: 404px !important;
  left: -258px !important;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card5{
  position: relative;
  background:url(../img/Rectangle-11.png) ;
  width: 570px;
  height: 325px !important;
  top: -325px;
  left: 577px;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card6{
  position: relative;
  background:url(../img/Rectangle-12.png) ;
  width: 278px;
  height: 176px !important;
  top: -740px;
  left: 293px;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card7{
  position: relative;
  background:url(../img/Rectangle-13.png) ;
  width: 278px;
  height: 217px !important;
  top: -554px;
  left: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}
#project-card8 img{
  position: relative;
  background:url(../img/food.png) ;
  width: 474px;
  height: 600px !important;
  top: 200px;
  left: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
#work .btn-outline{
  position: relative;
  left: 40%;
  top: -200px;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #000000;
}
#testimonial h2{
  position: relative;
  left: 45%;
}
.text-gold{
  color: #ffca47;
}
#contact h2{
  position: relative;
  left: 70px;
  color: #ffca47;
  top: -30px;
}
#contact .btn-outline{
  position: relative;
}
div {
  margin:0;
  padding:0;
  outline:none;
}

.testimonial-container {
  position:relative;
  margin-top:50px;
margin-bottom:50px;
}

.slider-holder {
  position:relative;
  width:600px;
  margin:0 auto;
}

.slider {
  position:relative;
  width:600px;
  height:400px;
  background-color:#000;
  overflow:hidden;
}

.slider-item {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000;
}
#contact img{
  position: relative;
  top: 80px;
}
.form{
  position: relative;
  left: 114px;
  width: 572px;
  height: 500px !important;
  top: 100px;
}.form-control{
  background-color: transparent !important;
  color: #ffffff !important;
}
.footer{
  background: #000000;
  color: #ffffff;
}
.footer img{
  position: relative;
  left: -45%;
  margin-top: 5%;
}
.footer p{
  position: relative;
  left: 30% !important;
  margin-top: -5%;
}
.social-icons{
  position: relative;
  margin-top: -30px;
  left: 95%;
}
.social-icons a{
  color: #ffffff;
}
@media (max-width: 767px){
  html{
    overflow-x: hidden;
  }
  .hero-container{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-mobile.png);
    width: 375px;
    height: 727px;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  .hero-image img{
    position: relative;
    left: 102px !important;
    top: 134px !important;
    width: 170.78px;
    height: 212px;
    
  }
  
  .hero-content{
    top: 278px;
    left: 17px !important;
  }
  .about img{
    left: 145px !important;
    top: 375px !important;
    height: 340px !important;
    width: 312px;
  }
  .about{
    height: 2800px !important;
  }
.about-content{
  top: -306px;
  left: 150px !important;
}
.services .container{

  top: -75px !important;
 
 }
 .services-text{
   top: 0px !important;
   left: -10px !important;
 }
 #services .text-center{
  font-family: 'Playfair Display', serif !important;
 }
 .services-boxes{
   margin-left: 39% !important;
   width: 343px;
   height: 264px;
 }
 .ellipse-active {
  
  top: 27px !important;
  left: 127px !important;
}
.ellipse1 {
  position: absolute;
  top: 35%;
  left: 127px;
}
.ellipse2 {
  position: absolute;
  top: 70%;
  left: 127px;
}
.ellipse3 {
  position: absolute;
  top: 100%;
  left: 127px;
}
.grid-wrapper {
  display: table-row;
}
.text-center{
  left: 10px;
}
#experience h2{
left: 0px;
top: -30px;
}
.experience_jtspice {
  margin-left: 3%;
  width: 281px;
  height: 261px;
 
}
.experience_kfc {
  margin-left: 3%;
  width: 281px;
  height: 261px;
  margin-top: 10%;
}
.experience_chillspot {
  margin-left: 3%;
  width: 281px;
  height: 261px;
  margin-top: 15%;
}
.experience_dallas {
  margin-left: 3%;
  width: 281px;
  height: 261px;
  margin-top: 30px;
}
.experience-container{

background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/experience-bg.png);
}
.vertical-line {
  grid-row: 1/8 !important;
}
.position-relative {
  position: relative!important;
}
#work h3{
  
  font-size: 28px;
  line-height: 159.6%;
  left: -10%;
}
.project-card1{
  background:url(../img/Rectangle-8.png) ;
  width: 339px;
  height: 358px !important;
  background-repeat: no-repeat;
  background-size: cover;
  left: 19px;
}
.project-card2{
  margin-top: 5%;
  width: 339px !important;
  height: 242px !important;
  left: 19px !important;
  background:url(../img/Rectangle-9.png) ;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card3{
  background:url(../img/Rectangle-14.png) ;
  width: 343px;
  height: 401px !important;
  background-repeat: no-repeat !important;
  left: 19px;
  background-size: cover;
  margin-top: 5%;
  top: 1%;
}
.project-card4{
  background:url(../img/Rectangle-10.png) ;
  width: 339px;
  height: 256px !important;
  left: 19px !important;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
}

.project-card6{
  background:url(../img/Rectangle-12.png) ;
  width: 342px;
  height: 176px !important;
  left: 19px;
  margin-top: 115%;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card7{
  background:url(../img/Rectangle-13.png) ;
  width: 339px;
  height: 212px !important;
  left: 19px;
  margin-top: -45%;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card5{
  background:url(../img/Rectangle-11.png) ;
  width: 339px;
  height: 320px !important;
  top: 435px;
  left: 19px;
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-direction-nav a {
  width: 30px;
}
.flex-direction-nav a:before {
  visibility: hidden;
}
.flex-direction-nav a:before {
  padding: 14px 0px 10px 0px;
}
.flex-direction-nav .flex-prev {
  left: 0px;
}
.flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  left: 0px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1;
  right: 0px;
}
.flex-direction-nav {
  visibility: hidden;
}
.testimonial-container {
  margin-top:50px;
margin-bottom:50px;
width: 343px;
height: 174px;
}
#testimonial h2{
  left: 15%;
}
.slider-item {
  top:0;
  left:0;
  width:343px;
  height:174px;
}
.slider {
  width: 343px;
  height: 174px;
  
}
#contact img {
  display: none;
}
#contact h2{
  left: -45px;
}
#contact .btn-outline{
  left: -34%;
}
.form {
  left: 1px;
  width: 337px;
  height: 500px !important;
  top: 100px;
}
.footer img{
  left: -50px !important;
  margin-top: 30%;
}
.footer p{
  left: -29% !important;
  margin-top: 20%;
}
#work .btn-outline{
  left: 65px;
  top: -167px;
}
.social-icons{
  
  margin-top: -90px;
  left: 25%;
}

}













